<a href="https://colab.research.google.com/github/Ramkumarpk/DS_WE16_Assignments/blob/main/Assignment3_Exercise_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1: NumPy: Create an array with values ranging from 12 to 38

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]

In [4]:
import numpy as np
print(np.arange(12,38))

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]

## Exercise 2: Add a border around an existing array
##### Hint: np.pad()

Original array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

In [22]:
org=np.ones((3,3))
print('Original array: \n',org)
print('0 on the border and 1 inside in the array')
print(np.pad(org,1))

Original array:
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

## Exercise 3: Convert a list and tuple into arrays

List to array:
[1 2 3 4 5 6 7 8]
Tuple to array:
[[8 4 6]
 [1 2 3]]

## Also try np.asarray for the problem above!

In [33]:
lst=np.arange(1,10)
print('List to array: \n',lst)
tup=([8,4,6],[1,2,3])
print('Tuple to array: \n',np.asarray(tup))

List to array:
 [1 2 3 4 5 6 7 8 9]
Tuple to array:
 [[8 4 6]
 [1 2 3]]

## Exercise 4:  Convert the values of Centigrade degrees into Fahrenheit degrees

Values in Fahrenheit degrees:
[ 0.   12.   45.21 34.   99.91]
Values in  Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

In [43]:
f=[ 0.,12.,45.21,34.,99.91]
frn=np.array(f)
print('Values in Fahrenheit degrees: \n',frn)
print("Values in Centigrade degrees: ")
print((frn - 32) * 5/9)

Values in Fahrenheit degrees:
 [ 0.   12.   45.21 34.   99.91]
Values in Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

## Exercise 5: Write a NumPy program to find the number of elements of an array, length of one array element in bytes and total bytes consumed by the elements.

Size of the array:  3
Length of one array element in bytes:  8
Total bytes consumed by the elements of the array:  24

In [60]:
ar=[1,2,3]
ar2=np.array(ar)
print('Size of the array:  ',ar2.size)
print('Length of one array element in bytes: ',ar2.itemsize)
print('Total bytes consumed by the elements of the array:  ',ar2.nbytes)
len(bytes(ar2))

Size of the array:   3
Length of one array element in bytes:  8
Total bytes consumed by the elements of the array:   24

24

## Exercise 6: Get the unique elements of an array

Original array:
[10 10 20 20 30 30]
Unique elements of the above array:
[10 20 30]
Original array:
[[1 1]
 [2 3]]
Unique elements of the above array:
[1 2 3]

In [20]:
org_arr=[10,10,20,20,30,30]
org_arr=np.array(org_arr)
print('Original array: \n',org_arr)
print('Unique elements of the above array: \n',np.unique(org_arr))
arr_2d =np.array([1,1,2,3])
print('Original array: \n',arr_2d.reshape(2,2))
print('Unique elements of the above array: \n',np.unique(arr_2d.reshape(2,2)))

Original array:
 [10 10 20 20 30 30]
Unique elements of the above array:
 [10 20 30]
Original array:
 [[1 1]
 [2 3]]
Unique elements of the above array:
 [1 2 3]

## Exercise 7: Change the dimension of an array

Original array: [1 2 3 4 5 6 7 8 9]
Change array shape to (3, 3) -> 3 rows and 3 columns
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [26]:
org_arr=np.arange(1,10)
print('Original array:',org_arr)
print('Change array shape to (3, 3) -> 3 rows and 3 columns \n',org_arr.reshape(3,3))

Original array: [1 2 3 4 5 6 7 8 9]
Change array shape to (3, 3) -> 3 rows and 3 columns
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

## Exercise 8: Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [54]:
from numpy import ogrid
print(ogrid[2.5:6.5:30j])
arr = np.linspace(2.5,6.5,30)
print(arr)

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

## Exercise 9: Convert 1-D arrays as columns into a 2-D array

Array1: [10 20 30]
Array2: [40 50 60]
Converted array
[[10 40]
 [20 50]
 [30 60]]

In [50]:
arr1 = [10, 20, 30]
arr1=np.array(arr1)
print('Array1:',arr1)
arr2 = [40, 50, 60]
arr2=np.array(arr2)
print('Array2:',arr2)
print('Converted array \n',np.stack((arr1,arr2), axis=1))

Array1: [10 20 30]
Array2: [40 50 60]
Converted array
 [[10 40]
 [20 50]
 [30 60]]

## Exercise 10: Create a 5x5 matrix with row values ranging from 0 to 4

Original array:
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

In [64]:
org_arr=np.zeros((5,5))
print('Original array: \n',org_arr)
nw_arr=np.arange(5)
print('Row values ranging from 0 to 4. ')
print(org_arr+nw_arr)

Original array:
 [[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

## Exercise 11: Sum of all the multiples of 3 or 5 below 100

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

In [65]:
x = np.arange(1, 100)
n= x[(x % 3 == 0) | (x % 5 == 0)]
print(n)
print(n.sum())

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

## Exercise 12: Combine a one and a two dimensional array together and display their elements
##### Hint : np.nditer()

In [ ]:
x = np.arange(4)
y = np.arange(4)
for a, b in np.nditer([x,y]):
    print(a)
    print(b)

0
0
1
1
2
2
3
3

One dimensional array:
[0 1 2 3]
Two dimensional array:
[[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

## Exercise 13: Write a NumPy program to replace all elements of NumPy array that are greater than specified array.

Original array:
[[0.42436315 0.48558583 0.32924763]
 [0.7439979  0.58220701 0.38213418]
 [0.5097581  0.34528799 0.1563123 ]]
Replace all elements of the said array with .5 which are greater than .5
[[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

## Exercise 14: Add a new row to an empty numpy array

Empty array:
[]
After adding two new arrays:
[[10 20 30]
 [40 50 60]]

## Exercise 15: Write a NumPy program to join a sequence of arrays along a new axis.

Original arrays:
[1 2 3]
[2 3 4]
Sequence of arrays along a new axis:
[[1 2 3]
 [2 3 4]]

Original arrays:
[[1]
 [2]
 [3]]

[[2]
 [3]
 [4]]
Sequence of arrays along a new axis:
[[1]
 [2]
 [3]
 [2]
 [3]
 [4]]