<a href="https://colab.research.google.com/github/Ramkumarpk/DS_WE16_Assignments/blob/main/Assignment2_Exercise_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
n=1500 
lst = []
while (n<=2700):
  if (n%7==0) and (n%5==0):
    lst.append(str(n))
  n = n+1
print(",".join(lst))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

## 2. Write a Python program to construct the following pattern, using a nested for loop.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 1
while n<5:
  print('* '*n)
  n=n+1
for i in range(0,n):
  print('* '*n)
  n=n-1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 3. Write a Python program to count the number of even and odd numbers from a series of numbers.

Number of even numbers : 4
Number of odd numbers : 5

In [ ]:
lst = list(range(1,10))
n=0 ; o=0; e=0;
len(lst)
while n <len(lst):
   if (lst[n]%2 == 0): 
    e=e+1
    n=n+1
   o=o+1
   n=n+1
print('Number of even numbers : ',e)
print('Number of odd numbers : ',o)

Number of even numbers :  4
Number of odd numbers :  5

## 4. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [ ]:
lst3=[]
for i in range(100,401):
   n=str(i)
   if (int(n[0])%2 == 0 and int(n[1])%2 == 0 and int(n[2])%2 == 0):
     lst3.append(n)
print(",".join(lst3))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

## 5. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [ ]:
hum_age=int(input("Enter Human Age :"))
if age < 2:
  dog_age=hum_age*10.5
else:
  dog_age=21+((hum_age-2)*4)
print("Equivalent Dog Age is :",dog_age)

Enter Human Age :22
Equivalent Dog Age is : 101

## 6. Write a Python function to find the Max of three numbers.

The Three numbers are: (3, 6, -5)
6

In [ ]:
num1 = float(input("Enter First Number :"))
num2 = float(input("Enter Second Number :"))
num3 = float(input("Enter Third Number :"))
def num_max3(num1,num2,num3):
  if (num1 >num2 and num1>num3):
    return(num1)
  elif (num2>num3):
    return(num2)
  else:
   return(num3)
print("The Three numbers are: ",(num1,num2,num3))
num_max3(num1,num2,num3)

Enter First Number :3
Enter Second Number :6
Enter Third Number :-5
The Three numbers are:  (3.0, 6.0, -5.0)

6.0

## 7. Write a Python function that takes a number as a parameter and check the number is prime or not.

In [3]:
num1 = int(input("The number is:"))
def fun_prime(num1):
  if num1==1:
    return("False")
  elif num1==2:
    return("True")
  else:
    for i in range(2,num1):
      if (num1 % i == 0):
        return("False")
        break
    return("True")
 
print(fun_prime(num1))

The number is:7
True

## 8. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor

Original String :  Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No. of Upper case characters :  13
No. of Lower case Characters :  32

In [12]:
str='Inceptz is One of The BeSt Places TO LEarn DataSciEnce'
print("Original String : ",str)
def uppr_lwr(str):
  u_count=0
  l_count=0
  for i in str:
    if i.isupper():
      u_count=u_count+1
    elif i.islower():
      l_count=l_count+1
print("No. of Upper case characters :",u_count)
print("No. of Lower case Characters :",l_count)

Original String :  Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No. of Upper case characters : 13
No. of Lower case Characters : 32

## 9. Write a Python program to reverse a string.

The original string is: 1234abcd
The reversed string: dcba4321

In [18]:
s='1234abcd'
print('The original string is:',s)
r=s[::-1]
print('The reversed string:',r)
r2="".join(reversed(s))
print('The reversed string using join:',r2)

The original string is: 1234abcd
The reversed string: dcba4321
The reversed string using join: dcba4321

## 10. Write a Python program to find  the greatest common divisor (gcd) of two integers.

The two numbers are: (12, 14)
The GCD of the numbers are: 2

In [37]:
import math
def gcd_num(num1, num2):
    print("The two numbers are: (12, 14)")
    return math.gcd(num1, num2)
print("The GCD of two numbers is : ", gcd_num(12, 14))

The two numbers are: (12, 14)
The GCD of two numbers is :  2

## 11. Write a function to find if a string is a palindrome or not! 
eg: 
"NAMAN" - is a palindrome 
"INCEPTEZ" - is not a palindrome!

In [33]:
strinp=input("Enter String to check:")
def fun_palndrm(strinp):
  strrev=strinp[::-1]
  if strinp.upper() == strrev.upper():
    return(strinp,"- is a palindrome")
  else:
    return(strinp,"- is not a palindrome") 
print(fun_palndrm(strinp))

Enter String to check:NaMAn
('NaMAn', '- is a palindrome')

## 12. Write a recurssive function to find if a string is a palindrome or not!

In [49]:
strip=input("Enter String to check:")
str=strip.upper()
def fun_recpalndrm(str):
    if len(str) < 2:
        return("- is a palindrome")
    else:
        if (str[0]==str[-1]):
            return fun_recpalndrm(str[1:-1])
        else:
            return ("- is not a palindrome")
print(strip,fun_recpalndrm(str))

Enter String to check:NomaN
NomaN - is not a palindrome

In [50]:
strip=input("Enter String to check:")
str=strip.upper()
print(strip,fun_recpalndrm(str))

Enter String to check:NaMAn
NaMAn - is a palindrome