<a href="https://colab.research.google.com/github/Ramkumarpk/DS_WE16_Assignments/blob/main/Assignment2_Exercise_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [49]:
n=1500 
lst = []
while (n<=2700):
  if (n%7==0) and (n%5==0):
    lst.append(n)
  n = n+1
print(lst)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to construct the following pattern, using a nested for loop.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [58]:
n = 1
while n<5:
  print('* '*n)
  n=n+1
for i in range(0,n):
  print('* '*n)
  n=n-1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 3. Write a Python program to count the number of even and odd numbers from a series of numbers.

Number of even numbers : 4
Number of odd numbers : 5

In [80]:
lst = list(range(1,10))
n=0 ; o=0; e=0;
len(lst)
while n <len(lst):
   if (lst[n]%2 == 0): 
    e=e+1
    n=n+1
   o=o+1
   n=n+1
print('Number of even numbers : ',e)
print('Number of odd numbers : ',o)

Number of even numbers :  4
Number of odd numbers :  5

## 4. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [86]:
lst2=list(range(200,400))
lst3=[]
n=200
while (n<=400):
  if (n%2==0):
    lst3.append(n)
    n=n+2
print(lst3)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

171

## 5. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

Input a dog's age in human years: 20
The dog's age in dog's years is 93

## 6. Write a Python function to find the Max of three numbers.

The Three numbers are: (3, 6, -5)
6

## 7. Write a Python function that takes a number as a parameter and check the number is prime or not.

The number is: 9
False

## 8. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor

Original String :  Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No. of Upper case characters :  13
No. of Lower case Characters :  32

## 9. Write a Python program to reverse a string.

The original string is: 1234abcd
The reversed string: dcba4321

## 10. Write a Python program to find  the greatest common divisor (gcd) of two integers.

The two numbers are: (12, 14)
The GCD of the numbers are: 2

## 11. Write a function to find if a string is a palindrome or not! 
eg: 
"NAMAN" - is a palindrome 
"INCEPTEZ" - is not a palindrome!

## 12. Write a recurssive function to find if a string is a palindrome or not!